@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #487AFF;
    --color-danger: #FFD2C3;
    --color-success: #D6E3FE;
    --color-warning: #FAF4E8;
    --color-info-dark: #CBD1CF;
    --color-info-light: #F5FE6C;
    --color-dark: #363949;
    --color-light: #FFDCD1;
    --color-dark-variant: #859CAC;
    --color-card: #FFEAE3;

    --border: 1px solid #333;
   
}
body {
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.header {
    width: 100%;
    height: 95px;
    z-index: 10;
}
.header .training {
    text-align: center;
    border-bottom: var(--border);
    background-color: var(--color-info-light);
    text-transform: uppercase;
    padding: 0.5rem 0;
    cursor: pointer;
    transition: 0.5s ease-out;
}
.header .training:hover {
   background: var(--color-background);
    background-size: 200%;
    background-position: -100%;
}

.header span {
    color: var(--color-primary);
}
.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0.5rem 3rem 0.5rem;
    border: var(--border);
    background-color: var(--color-success);
}
.header h1 {
    font-size: 2rem;
    font-weight: 900;
}
.header nav .nav-links {
    display: flex;
    align-items: center;
}
.header nav a {
    padding: 0.5rem 1.4rem;
    color: var(--color-dark);
    font-size: 0.9rem;
}

/*-----------------------------------tools------------------------------*/


.tools {
    width: 100%;
    position: relative;
    top: 1.1rem;
    display: grid;
    grid-template-columns: 65% 35%;
    border-bottom: var(--border) ;
}
.tools .left-col {
   background: linear-gradient(to right, var(--color-danger) 90%, var(--color-info-light));
   border-right: var(--border);
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-bottom: var(--border);
}
.tools .left-col .content{
   width: 65%;
    margin: 2.5rem 9vw;
    position: relative;
}
.tools .left-col h6 {
    font-size: 0.9rem;
    text-decoration: underline;
   margin-bottom: 2rem;
}
.tools .left-col h2 {
    font-size: 5.5vw;
    color: black;
   /* position: relative;*/
    
}
.tools .left-col .second-h2 {
    text-align: right;
    margin-bottom: 3rem;
}
.text-stroke {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: transparent;
}
.tools .left-col .first-name::after {
    content: "";
   display: block;
    /*width: 379px;*/
    width:20vw;
    height: 0.4px;
    background-color: black;
    position: absolute;
    right: -10rem;
    top: 5.5rem;
}

.tools .left-col .para {
   max-width: 420px;
   margin: 0 auto;
}
.tools .left-col p:nth-of-type(1) {
    font-size: 1.7rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    margin-bottom: 1.2rem;
}
.tools .left-col p:nth-of-type(2) {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
}

.about-me .right-col {
    background-color: var(--color-success);
}
.tools .right-col .tools-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.tools .right-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
  
}
.tools .right-col .sm-size-img {
    display: none;
    width: 100%;
    aspect-ratio: 1 / 0.8;
    object-fit: cover;
    object-position: center;
}

/*--------------------------------------browse--------------------------------*/

.browse {
    width: 100%;
    border: var(--border);
    background-color: var(--color-success);
    padding: 3rem 0.7rem;
}
.browse .content {
    display: flex;
    flex-direction: column;
   /* align-items: center;*/
}
.browse h6 {
    font-size: 0.9rem;
    text-decoration: underline;
   margin-bottom: 2rem;
   text-align: center;
}
.browse .content .buttons {
    display: flex;
    align-items: center;
}
.browse-btn {
    width: 20%;
    background-color: var(--color-info-light);
    padding: 0.8rem 2vw;
    margin-right: 1.5rem;
    font-size: 1.1vw;
    font-weight: 700;
    border: var(--border);
    transition: 5ms ease-in-out;
}
.browse-btn.active {
    background-color: white;
}
.browse-btn:hover {
    background-color: white;
}
.browse .content .info-of-btn {
  max-width: 680px;
   margin: 2.1rem auto 0;
   text-align: center;
   
}
.browse .content .info-of-btn h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.browse .content .info-of-btn p {
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
}

/*--------------------------------guide------------------------------------*/

.guide {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    border-bottom: var(--border);
    background-color: var(--color-warning);
    gap: 2rem;
    align-items: center;
}

.guide .left-col {
    padding-top: 5.5rem;
    display: flex;
    width: 100%;
    height: 100%;
   /* align-items: flex-end;*/
   
   
}
.guide .left-col .color-before {
   width: 15%;
  /* max-height: 40vw;*/
  /* height: 100%; */
}
.guide .left-col .guide-img {
    max-width: 100%;
    max-height: 100%;
   /* width: 100%;
    height: 100%;*/
    overflow: hidden;
}
.guide .left-col img {
  
     width: 100%;
     height: 100%;  
    
    object-fit: cover;
    object-position: bottom center;
}
.guide .right-col .guide-info {
   max-width: 74%;
    display: grid;
   /* padding: 4rem 0;*/
  /* padding-top: 5.5rem ;*/
}
.guide .right-col .guide-info h2 {
    font-size: /*4.5rem*/ 5.8vw; 
    color: black;
    margin-bottom: 2.5rem;
}
.guide .right-col .guide-info .text-stroke {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: transparent;
}
.guide .right-col .guide-info div {
   max-width: 370px;
   justify-self: flex-end; 
   margin-bottom: 2rem; 
   
   
} 
.guide .right-col .guide-info p { 
    font-size: 1.5rem;
    font-weight: 400;
    /* line-height: 1.7; */
    margin-bottom: 2rem;
   justify-self: end;
   font-family: 'Times New Roman', Times, serif;
}
.btn {
    width: 180px;
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
    color: black;
    cursor: pointer;
    font-weight: 600;
    background-color: var(--color-info-light);
    border: var(--border);
}
.btn:hover {
    background: linear-gradient(to right, var(--color-info-light) 50%, #FFFF 50%);
    background-size: 200%;
    background-position: -100%;
}
.btn i {
    margin-left: 0.7rem;
}
.btn i:hover {
   
    animation: bounce 2s ease infinite;
}

@keyframes bounce{
    0%, 25%, 55%, 75%, 100% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(-5px);
    }
    65% {
        transform: translateX(-5px);
    }
    85%{
        transform: translateX(-5px);
    }
}


/*----------------------------------------download---------------------------*/
.download {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    border-bottom: var(--border);
}
.download .top-row {
    background-color: var(--color-light);
    display: grid;
}
.download .top-row div {
    display: grid;
    align-self: center;
    justify-self: center;
    max-width: /*800px*/70%;
    padding-top: 3rem;
    
}
.download .top-row div h3 {
    font-size: 5.5vw;
    text-align-last: center;
    margin-bottom: 2rem;
    text-align: center;
}

.download .top-row div p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0 0 2rem;
    text-align: center;
}
.download .top-row div button {
    margin: 0 auto;
}

.download .bottom-row {
 height: 0;
 padding-bottom: 30%;
    background-image: url(img/img9.webp);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
}




/*-----------------------------training-----------------------*/

.training {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    border-bottom: var(--border) ;
    position: relative;
}
.training .left-col {
   background-color: var(--color-card);
   border-right: var(--border);
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-bottom: var(--border);
}
.training .left-col .content{
   width: 80%;
    margin: 2.5rem 8vw;
   /* position: relative;*/
}
.training .left-col h2 {
    font-size: 5.5vw;
    color: black;
}
.training .left-col .second-h2 {
    text-indent: 2rem ;
    margin-bottom: 3rem;
}

.training .left-col::before {
    content: "";
   display: block;
    /*width: 379px;*/
    width:20vw;
    height: 0.4px;
    background-color: black;
    position: absolute;
    left: 30% ;
    top: 5.3rem;
}

.training .left-col .para {
   max-width: 79%;
  margin: 0 auto;
}
.training .left-col p {
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    margin-bottom: 1.8rem;
    
}

.training .right-col .training-img {
  height: 100%;
    background-image: url(img/img5.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/*------------------------------------footer-------------------*/

.footer {
    width: 100%;

}
.footer-label {
    width: 100%;
    background-color: var(--color-warning);
    border-bottom: var(--border);
}
.footer-label h2 {
    text-align: center;
    font-size: 3.5vw;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-primary);
    padding: 0.7rem;
   /* margin: 0 auto;*/
   
}
footer .col-section {
    width: 100%;
    height: auto;
    border-bottom: var(--border);
    display: grid;
    grid-template-columns: 30% 70%;
}
footer .col-section .left-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    padding: 3.6rem;
    border-right: var(--border);
    background-color: var(--color-success);
    background: linear-gradient(to left, var(--color-info-light), var(--color-success) 18%);
}
footer .col-section .left-col p {
    padding: 1.3rem 0;
    line-height: 1.6;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}
footer .col-section .right-col {
    background-color: var(--color-dark-variant);
}
footer .links {
    width: 100%;
    background-color: var(--color-warning);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: var(--border);
    padding: 2rem;
    
}
footer .links h3 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    font-family: 'Montserrat', sans-serif ;
}
footer .links a {
   padding: 1rem;
   font-size: 0.8rem;
   color: #333;
   font-family: 'Montserrat', sans-serif ;
   font-weight: 600;
   transition: 0.5s ease;
}
footer .links a:hover {
    color: var(--color-primary);
}
footer .footer-bottom {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
   justify-content: center;
   gap: 10rem;
}
footer .footer-bottom div {
    display: flex;
    align-items: center;
}
footer .footer-bottom h6 {
    padding: 0 1rem;
}
.footer-btn {
    color: white;
    background-color: black;
    border: 1px solid white;
    width: 250px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    padding: 0.2rem 0.8rem;
}
.footer-btn i {
    margin-left: 0.8rem;
}

@media (max-width: 780px) {
    .tools {
        position: relative;
        top: 1.1rem;
        grid-template-columns: auto;
    }
    .tools .right-col img {
        display: none;
    }
    .tools .right-col .sm-size-img {
        display: block;
    }
    .tools .left-col h2 {
        font-size: 10vw;
    }
    .browse .content .buttons {
        flex-direction: column;
    }
    .browse-btn {
        width: 70%;
        font-size: 2.1vw;
        margin-bottom: 0.6rem;
    }
    .browse .content .info-of-btn h3 {
        font-size: 2.5rem;
    }
    .browse .content .info-of-btn p {
        width: 78%;
        font-size: 3.8vw;
        margin: 0 auto;
    }
    .guide .left-col .guide-img {
       
        max-width: 90%;
        max-height: 90%;
    }
    .guide .right-col .guide-info {
        margin: -14rem auto 1rem;
    }
    .guide .right-col .guide-info h2 {
        font-size: 10.5vw;
    }
    .download .top-row div h3 {
        font-size: 10vw;
    }
    .training .left-col h2 {
        font-size: 11vw;
    }
    .training .right-col .training-img {
        padding-bottom: 80%;
    }
    footer .col-section .left-col {
        grid-column: 1 / span 2;
    }
}